<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>@ViewBag.Title- UserModule</title>
    <base href="/">
    <script src="~/Scripts/angular.js"></script>
    <link href="~/App_Ng/app.4ae5e2f4976069675b98.css" rel="stylesheet">
</head>
<body>  
    <header>
        <navigation></navigation>
    </header>
    <div ng-view class="main-content clearfix"></div>
    <script src="~/App_Ng/app.4ae5e2f4976069675b98.js"></script>
</body>
</html>
