<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>@ViewBag.Title- My ASP.NET Application</title>
    <base href="/">
</head>
<body>
    <app-root></app-root>
    <script src="~/App_Ng/inline.bundle.js"></script>
    <script src="~/App_Ng/polyfills.bundle.js"></script>
    <script src="~/App_Ng/styles.bundle.js"></script>
    <script src="~/App_Ng/vendor.bundle.js"></script>
    <script src="~/App_Ng/main.bundle.js"></script>
</body>
</html>